.filter-container {
  display: flex;
  gap: 10px;
  height: 80px;
}

.select-section {
  display: flex;
  flex: 2;
  padding: 20px;
  gap: 20px;
  background-color: var(--colorGray);
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
}

.input-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--colorGray);
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
}
