.text-14-600 {
  font-size: 14px;
  font-weight: 600;
}

.text-14-700 {
  font-size: 14px;
  font-weight: 700;
}

.text-16-700 {
  font-size: 16px;
  font-weight: 700;
}

.text-12-400 {
  font-size: 12px;
  font-weight: 400;
}
