:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --colorYellowButton: #f0da7d;
  --colorBorderDarkGold: #ba8e47;
  --myDisabledOrTransparent: rgba(255, 255, 255, 0.5);

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
