:root {
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorYellowButton: #f0da7d;
  --colorYellowButtonHover: #f5e8b1;
  --colorBorderDarkGold: #ba8e47;
  --colorGray: #1c1c1c;
  --colorDisabledOrTransparent: #696969;
  --colorRed: #ff0000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
