.btn {
  cursor: pointer;
  border: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.btn--primary {
  background-color: var(--colorYellowButton);
  color: var(--colorBlack);
}

.btn--primary:hover:not(:disabled):not([disabled]) {
  background-color: var(--colorYellowButtonHover);
}

.btn:disabled,
.btn[disabled] {
  opacity: 0.5;
  background-color: var(--colorDisabledOrTransparent);
  color: var(--colorBlack);
  pointer-events: none;
}

.btn--medium {
  padding: 11.5px 20px;
  font-size: 14px;
}
